@font-face {
  font-family: 'pirulen';
  src: url('src/assets/pirulen.otf');
}

@font-face {
  font-family: 'glitch';
  src: url('src/assets/Glitch.ttf');
}

:root {
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;
  --clr-shadow: #1e1e1e;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --primary-font: 'glitch';
  --secondary-font: 'pirulen';
  --primary-font-color: #ff4400;
  --secondary-font-color: #fac468;
  --tertiary-font-color: silver;
}

.light-mode{
  --background: var(--clr-light);
  --foreground: var(--clr-dark);
}

.dark-mode{
  --background: var(--clr-dark);
  --foreground: var(--clr-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
  }
}

body{
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}






