@import "../../variables.css";

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.logo {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-self: start;
    background: var(--bg-secondary);
    margin-bottom: 2rem;
}

.menu-container {
    top: 0;
    right: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
    overflow: hidden;
}

.menu-container:hover {
    width: 16rem;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.item {
    width: 16rem;
}

.logout {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: palevioletred;
    transition: var(--transition-speed);
}

.logout:hover {
    background-color: var(--bg-secondary);
    color: #ff2222;
}


.top-links {
    display: flex;
    flex-direction: column;
}

.links-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: var(--text-primary);
    transition: var(--transition-speed);
}

.link:hover {
    background-color: var(--bg-secondary);
    color: orange;
}

.icon {
    height: 4rem;
    width: 2.3rem;
    margin: 0 1.5rem;
}

.text {
    display: none;
    margin-left: 1rem;
}

.menu-container:hover .text {
    display: inline;
}


