@import "../../variables.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    box-shadow: black 5px 5px 5px, silver 1px 1px 5px inset;
    border-radius: 5px;
    background-color: #1a2528;
    padding: 20px;
    width: 250px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerTitle {
    font-family: var(--primary-font), sans-serif;
    color: var(--clr-primary);
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
    text-shadow: var(--clr-shadow) 3px 3px 3px;
}

.registerFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerForm {
    margin: 5px;
    display: flex;

}

.passwordLabel {
    color: var(--message-success);
    font-family: var(--tertiary-font);
    font-weight: bold;
    font-size: 20px;
    text-shadow: var(--clr-shadow) 3px 3px 3px;
}

